<input type="checkbox" id="side" name="" value="">

<div class="page-wrap">

  <div class="page-content">
    <label for="side" class="toggle">☰</label>
  </div>
  <div class="grid">
    <header class="header">
      <div class="header__search">
        <ul class="nav navbar-nav navbar-right headerUl">
          <li class="active"><a routerLink="/">Home</a></li>
          <li class="active"><a routerLink="/exams">Exams</a></li>
          <li class="active" (click)="LogOut()"><a>LogOut</a></li>
        </ul>
      </div>
    </header>
    <div class="sidebar" style="overflow-y: auto; overflow-x: hidden;z-index:20;">
      <div class="sidenav__brand">

        <a class="sidenav__brand-link" style="font-family: 'Poppins';" href="#">
          <img src="./assets/images/logo/logo1.png" alt="logo" class="logoimage">
          HNSs<span class="text-light"> Exam</span></a>
      </div>
      <div class="sidenav__profile">
        <div class="sidenav__profile">
          <img class="sidenav__profile-avatar" src="../../../assets/images/{{user.Image}}" >
          <div class="sidenav__profile-title username ">
            {{user.FirstName|titlecase}} {{user.LastName|titlecase}}</div>
        </div>
      </div>
    <div class="row row--align-v-center row--align-h-center">
      <ul class="navList">
        <li class="navList__heading timeLine" routerLink="/admin/">TimeLine<i class="fa fa-file-alt"></i></li>
        <hr>
        <li class="navList__heading">Profile</li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/adminProfile">My Profile</span>
          </div>
        </li>
         <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-inbox" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/inbox">Inbox</span>
          </div>
        </li>
        <li class="navList__heading">Manage Exam<i class="fa fa-file-alt"></i></li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
            <a class="navList__subheading-title" routerLink="/admin/manageCourses">Manage Courses</a>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/manageExams">Manage Exams</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/manageTimes">Avaliable Time</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/manageQuestionBank">Questions Bank</span>
          </div>
        </li>


        <li class="navList__heading">Manage Booking</li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-cart-plus" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/bookinginfo">Booking Info</span>
          </div>
        </li>
        <li class="navList__heading">Manage Certificate</li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-graduation-cap"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/certificate">Certificate Info</span>
          </div>
        </li>
        <li class="navList__heading">Manage Pages</li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/homeinfo">Home</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/aboutinfo">About</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-inbox" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/contactinfo">Contact</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/testimonialinfo">Testimonial</span>
          </div>
        </li>
        <li class="navList__heading">statistics<i class="fas fa-chart-bar"></i></li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-credit-card"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/report">Reports</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/charts" (click)="callCharts()">Charts</span>
          </div>
        </li>
        <li class="navList__heading">Manage Users</li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/users">User Info</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/managelogins">User Login</span>
          </div>
        </li>
        <li>
          <div class="navList__subheading row row--align-v-center">
            <span class="navList__subheading-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <span class="navList__subheading-title" routerLink="/admin/role">Role</span>
          </div>
        </li>

      </ul>
    </div>

</div>
