<div class="info_box" *ngFor="let item of userService.mySingleBooking">
  <div class="info-title"><span>The Rules of Exam</span></div>
  <div class="info-list">
    <div class="info">1. There are <span> {{item.numofquestions}} questions </span> </div>
    <div class="info">2. You will have only <span> {{item.examduration}} minutes </span> to answer all questions</div>
    <div class="info">3. If You exit the Exam you will start from the beginning.</div>
    <div class="info">4. The question mark for each one is 2 </div>
    <div class="info">5. To Start the Exam Please insert the <span> password </span> </div>
    <hr />
    <form class="text-center">
      <mat-form-field class="example-full-width mat-form-field-appearance-legacy ">
        <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
          <label>Exam Password</label>
          <input matInput [formControl]="exampassword">
        </div>
        <mat-error *ngIf="exampassword.hasError('required')">
          password is required
        </mat-error>
      </mat-form-field>
      <p id="error" style="color:red"></p>
      <div class="buttons">
        <button (click)="GoToProfile()" class="quit">Back</button>
        <button (click)="Check()" [disabled]="!exampassword.valid || passwordValue" type="submit"
          class="restart">Continue</button>
      </div>
    </form>
  </div>
</div>
