.info_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  /* opacity: 0; */
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.info_box .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 400;
  background-color: #005555;
  color: white;
}

.info_box .info-list {
  padding: 15px 30px;
}

.info_box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info_box .info-list .info span {
  font-weight: 600;
  color: #007bff;
}

.info_box .buttons {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #005555;
  transition: all 0.3s ease;
}

.mat-form-field-infix {
  width: 180px;
  height: 49px;
  border: 2px solid #0000004f;
  margin-bottom: -8px;
}

label {
  font-weight: 600;
  position: relative;
  top: 7px;
  right: 133px;
  color: black;
}

.buttons button.restart {
  color: #fff;
  background: #005555;
}

.buttons button.restart:hover {
  background: #117315db;
}

.buttons button.quit {
  color: #005555;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #117315db;
}
