 <div class="overlay">
  <div class="login-form">
  </div>
  <form [formGroup]="createForm">
    <div class="sign-in-htm">
      <h3>Sign Up</h3>
      <div class="group">
        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
            <input type="text" matInput class="input" formControlName="fname" required placeholder="First Name" />
          </div>
          <mat-error *ngIf="createForm.controls['fname'].hasError('required')">
            firstname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="group">
        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
            <input type="text" matInput class="input" formControlName="lname" required placeholder="Last Name" />
          </div>
          <mat-error *ngIf="createForm.controls['lname'].hasError('required')">
            lastname is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="group ">
        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
            <input type="text" matInput class="input" formControlName="username"
            required placeholder="Username" (mouseout)="DuplicateUserName($event)" />
          </div>
          <mat-error *ngIf="createForm.controls['username'].hasError('required')">
            username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="createForm.controls['username'].hasError('DuplicateUserName')">
            username is <strong>Already Exist</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="group ">
        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
            <input type="email" matInput class="input" formControlName="email" placeholder="Email"  (mouseout)="DuplicalteUserEmail($event)" />
          </div>
          <mat-error *ngIf="createForm.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="createForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="createForm.controls['email'].hasError('DuplicateUserEmail')">
            Email is <strong>Already Exist</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="group">
        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
            <input type="password" matInput class="input" placeholder="Password" formControlName="password"
              (change)="matchError()" />
          </div>
          <mat-error *ngIf="createForm.controls['password'].hasError('minlength')">
            Please enter at least 8 charecters
          </mat-error>
          <mat-error *ngIf="createForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="group">
        <mat-form-field class="example-full-width
                      mat-form-field-appearance-legacy ">
          <div class="example-full-width
                        mat-form-field-wrapper mat-form-field-infix ">
            <input type="password" matInput class="input" placeholder="Confirm Password"
              formControlName="confirmPassword" (change)="matchError()" />
          </div>
          <mat-error *ngIf="createForm.controls['confirmPassword'].hasError('minlength')">
            Please enter at least 8 charecters
          </mat-error>
          <mat-error *ngIf="createForm.controls['confirmPassword'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="createForm.controls['confirmPassword'].hasError('mismatch')">
            <strong>Passwords don't match</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <input class="imagepos" type="file" #file formControlName="imagepath" (change)="uploadFile(file.files)" >
      <br>
      <div class="group">
        <button class="button" type="submit" (click)="submit()" [disabled]="!createForm.valid">Register</button>
      </div>
      <div class="hr"></div>
      <div class="foot-lnk">
        <p (click)="goToLogin()">Already have an account?</p>
      </div>
    </div>
  </form>
</div>
