<app-sidebar></app-sidebar>
<h1 class="header">Website Statistics</h1>

<div class="row stats">

  <div class="col-md-3 cardplace">
    <div class="statContainer fountainBlue shadow-sm">
      <div class="title text-center boxhead"> <i class="fa fa-archive icons" aria-hidden="true"
          style="font-size: 26px; padding: 3px;"></i> Number Of Bookings</div>
      <div class="d-flex">
        <div class="p-2 flex-fill text-center" style="border: 2px solid #6abebf;font-size: 16px;color: #6abebf;">TOTAL
          <br>
          <h5 class="font-weight-bold h5stat">{{home.statistics.numOfBooking}}</h5>
        </div>
        <!-- <div class="p-2 flex-fill text-center status">COMPLETED <br>
            <h5 class="ont-weight-bold">20</h5>
          </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="statContainer lightBlue shadow-sm" style="position: absolute;left: 258%;bottom: -144px;">
      <div class="title text-center boxhead"><i class="fa fa-database icons" aria-hidden="true"
          style="font-size: 26px;"></i> Number Of Exams</div>
      <div class="d-flex">
        <div class="p-2 flex-fill text-center" style="border: 2px solid #52a1e5;font-size: 16px;color: #52a1e5;">TOTAL
          <br>
          <h5 class="font-weight-bold h5stat">{{home.statistics.numOfExams}}</h5>
        </div>
        <!-- <div class="p-2 flex-fill text-center status">COMPLETED <br>
            <h5 class="ont-weight-bold">20</h5>
          </div> -->
      </div>
    </div>
  </div>


</div>

<div class="row stats">

  <div class="col-md-3" style="position: absolute;top: 388px;left: 398px;">
    <div class="statContainer lightBlue shadow-sm">
      <div class="title text-center boxhead"><i class="fa fa-users icons" aria-hidden="true"
          style="font-size: 26px;"></i> Number Of Users</div>
      <div class="d-flex">
        <div class="p-2 flex-fill text-center" style="border: 2px solid #52a1e5;font-size: 16px;color: #52a1e5;">TOTAL
          <br>
          <h5 class="font-weight-bold h5stat">{{home.statistics.numOfUser}}</h5>
        </div>
        <!-- <div class="p-2 flex-fill text-center status">COMPLETED <br>
            <h5 class="ont-weight-bold">20</h5>
          </div> -->
      </div>
    </div>
  </div>


  <div class="col-md-3" style="position: absolute;top: 388px;">
    <div class="statContainer yelloww shadow-sm" style="position: absolute;left: 258%">
      <div class="title text-center boxhead"><i class="fa fa-check-square-o icons" aria-hidden="true"
          style="font-size: 26px;"></i> Number Of User Booked Exams</div>
      <div class="d-flex">
        <div class="p-2 flex-fill text-center" style="border: 2px solid #f3a254;font-size: 16px;color: #f3a254;">TOTAL
          <br>
          <h5 class="font-weight-bold h5stat">{{home.statistics.numOfUserBooked}}</h5>
        </div>
        <!-- <div class="p-2 flex-fill text-center status">COMPLETED <br>
            <h5 class="ont-weight-bold">20</h5>
          </div> -->
      </div>
    </div>
  </div>



</div>

<div class="row stats">

  <div class="col-md-3" style="position: absolute;top: 580px;left: 398px;">
    <div class="statContainer yelloww shadow-sm">
      <div class="title text-center boxhead"><i class="fa fa-check-circle icons" aria-hidden="true"
          style="font-size: 26px;"></i> Number Of Exams Booked</div>
      <div class="d-flex">
        <div class="p-2 flex-fill text-center" style="border: 2px solid #f3a254;font-size: 16px;color: #f3a254;">TOTAL
          <br>
          <h5 class="font-weight-bold h5stat">{{home.statistics.numOfExamBooked}}</h5>
        </div>
        <!-- <div class="p-2 flex-fill text-center status">COMPLETED <br>
            <h5 class="ont-weight-bold">20</h5>
          </div> -->
      </div>
    </div>
  </div>


  <div class="col-md-3" style="position: absolute;top: 580px;">
    <div class="statContainer fountainBlue shadow-sm" style="position: absolute;left: 258%">
      <div class="title text-center boxhead"><i class="fa fa-times-circle icons" aria-hidden="true"
          style="font-size: 26px;"></i> Number Of Exams Not Booked</div>
      <div class="d-flex">
        <div class="p-2 flex-fill text-center" style="border: 2px solid #6abebf;font-size: 16px;color: #6abebf;">TOTAL
          <br>
          <h5 class="font-weight-bold h5stat">{{home.statistics.examNotBooked}}</h5>
        </div>
        <!-- <div class="p-2 flex-fill text-center status">COMPLETED <br>
            <h5 class="ont-weight-bold">20</h5>
          </div> -->
      </div>
    </div>
  </div>



</div>
