<app-navbar></app-navbar>


<!--about-part start-->
<section class="about-part" style="background-image:url({{home.aboutinfo.imagepath}}); height: 350px;" >
  <div class="container">
    <div class="about-part-details text-center">
      <h2 style="font-size: 36px;font-family:'Poppins';">{{home.aboutinfo.title}}</h2>
      <div class="about-part-content">
      </div>
      <!--/.about-part-content-->
    </div>
    <!--/.about-part-details-->
  </div>
  <!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->


<!--about-us start -->
<section class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2 style="font-size: 25px;font-family:'Poppins';">{{home.aboutinfo.title}}</h2>
              <p>
                {{home.aboutinfo.description1}}
              </p>
              <div class="project-btn">
                <a routerLink="/exams" class="project-view">Show Exams
                </a>
              </div>
              <!--/.project-btn-->
            </div>
            <!--/.about-us-txt-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
        <div class="col-sm-6">
          <div class="single-about-us">
            <div class="about-us-img">
              <img src="{{home.aboutinfo.description2}}" alt="about images">
            </div>
            <!--/.about-us-img-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.about-us-content-->
  </div>
  <!--/.container-->
</section>
<!--/.about-us-->
<!--about-us end -->

<!--service start-->
<section class="service">
  <div class="container">
    <div class="service-details">
      <div class="section-header text-center">
        <h2>our services</h2>
        <p>
          Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
      </div>
      <!--/.section-header-->
      <div class="service-content-one">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="service-single text-center">
              <div class="service-img">
                <img src="./assets/images/service/service1.png" alt="image of service" />
              </div>
              <!--/.service-img-->
              <div class="service-txt">
                <h2>
                  <a href="#">busisness planning</a>
                </h2>
                <p>
                  Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                </p>
                <a href="#" class="service-btn">
                  learn more
                </a>
              </div>
              <!--/.service-txt-->
            </div>
            <!--/.service-single-->
          </div>
          <!--/.col-->
          <div class="col-sm-4 col-xs-12">
            <div class="service-single text-center">
              <div class="service-img">
                <img src="./assets/images/service/service2.png" alt="image of service" />
              </div>
              <!--/.service-img-->
              <div class="service-txt">
                <h2>
                  <a href="#">busisness consultency</a>
                </h2>
                <p>
                  Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                </p>
                <a href="#" class="service-btn">
                  learn more
                </a>
              </div>
              <!--/.service-txt-->
            </div>
            <!--/.service-single-->
          </div>
          <!--/.col-->
          <div class="col-sm-4 col-xs-12">
            <div class="service-single text-center">
              <div class="service-img">
                <img src="./assets/images/service/service3.png" alt="image of service" />
              </div>
              <!--/.service-img-->
              <div class="service-txt">
                <h2>
                  <a href="#">financial services</a>
                </h2>
                <p>
                  Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                </p>
                <a href="#" class="service-btn">
                  learn more
                </a>
              </div>
              <!--/.service-txt-->
            </div>
            <!--/.service-single-->
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.service-content-one-->
      <div class="service-content-two">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="service-single text-center">
              <div class="service-img">
                <img src="./assets/images/service/service4.png" alt="image of service" />
              </div>
              <!--/.service-img-->
              <div class="service-txt">
                <h2>
                  <a href="#">risk management</a>
                </h2>
                <p>
                  Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                </p>
                <a href="#" class="service-btn">
                  learn more
                </a>
              </div>
              <!--/.service-txt-->
            </div>
            <!--/.service-single-->
          </div>
          <!--/.col-->
          <div class="col-sm-4 col-xs-12">
            <div class="service-single text-center">
              <div class="service-img">
                <img src="./assets/images/service/service5.png" alt="image of service" />
              </div>
              <!--/.service-img-->
              <div class="service-txt">
                <h2>
                  <a href="#">expert advisers</a>
                </h2>
                <p>
                  Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                </p>
                <a href="#" class="service-btn">
                  learn more
                </a>
              </div>
              <!--/.service-txt-->
            </div>
            <!--/.service-single-->
          </div>
          <!--/.col-->
          <div class="col-sm-4 col-xs-12">
            <div class="service-single text-center">
              <div class="service-img">
                <img src="./assets/images/service/service6.png" alt="image of service" />
              </div>
              <!--/.service-img-->
              <div class="service-txt">
                <h2>
                  <a href="#">24/7 customer support</a>
                </h2>
                <p>
                  Lorem ipsum dolo dolor in in voluptate velit esse cillum dolore. epteur sint oat cupidatat
                </p>
                <a href="#" class="service-btn">
                  learn more
                </a>
              </div>
              <!--/.service-txt-->
            </div>
            <!--/.service-single-->
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.service-content-two-->
    </div>
    <!--/.service-details-->
  </div>
  <!--/.container-->

</section>
<!--/.service-->
<!--service end-->
<app-footer></app-footer>