<app-navbar></app-navbar>

<!-- {{home.aboutinfo.imagepath}} -->
<!--about-part start-->
<section class="about-part" style="background-image:url(./assets/images/about/backabout99.jpeg); height: 350px;" >
  <div class="container">
    <div class="about-part-details text-center">
      <h2 class="titlestyle">{{home.aboutinfo.title}}</h2>
      <div class="about-part-content">
      </div>
      <!--/.about-part-content-->
    </div>
    <!--/.about-part-details-->
  </div>
  <!--/.container-->

</section>
<!--/.about-part-->
<!--about-part end-->


<!--about-us start -->
<section class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-6" style="top: -82px;">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2 style="font-size: 25px;font-family:'Poppins';">{{home.aboutinfo.title}}</h2>
              <p>
                {{home.aboutinfo.description1}}
              </p>
              <div class="project-btn">
                <a routerLink="/exams" class="project-view">Show Exams
                </a>
              </div>
              <!--/.project-btn-->
            </div>
            <!--/.about-us-txt-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
        <div class="col-sm-6">
          <div class="single-about-us">
            <div class="about-us-img">
              <img src="../../assets/images/{{home.aboutinfo.imagepath}}" alt="about images">
            </div>
            <!--/.about-us-img-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.about-us-content-->
  </div>
  <!--/.container-->
</section>
<!--/.about-us-->
<!--about-us end -->


<app-footer></app-footer>