<div class="wrapperAlert">
  <div class="contentAlert">
    <div class="topHalf">
      <h1>Try Again ! </h1>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="bottomHalf">
      <p>Sorry!, You Have Failed The Exam</p>
      <button id="alertMO" (click)="failed()">Go To Profile</button>
    </div>
  </div>
</div>
