<app-navbar></app-navbar>
<!--pricing start -->
<section id="pricing" class="pricing">
  <div class="container">
    <div class="pricing-details">
      <div class="section-header text-center">
        <h2 class="price-head">our Exams</h2>
      </div>
      <div class="pricing-content">
        <div class="row">
          <app-exams-cards *ngFor="let obj of courseExams" [examid]="obj.examid" [name]="obj.name"
            [description]="obj.description" [examprice]="obj.examprice" [imagepath]="obj.imagepath"
            [examduration]="obj.examduration" [passmark]="obj.passmark" [courseid]="obj.courseid"></app-exams-cards>
        </div>
        <!--/.row-->
      </div>
      <!--/.pricing-content-->
    </div>
  </div>
</section>
<app-footer></app-footer>
