<div class="col-sm-4 col-xs-12">
  <div class="service-single text-center">
    <div class="service-img">
      <img src="../../assets/images/{{imagepath}}" alt="image of service" style="    margin-top: 30px; height: 165px;width: 175px;" />
    </div>
    <!--/.service-img-->
    <div class="service-txt">
      <h2>
        <a>{{name|titlecase}} Course </a>
      </h2>
      <p>
        {{description|titlecase}}
      </p>
      <a class="service-btn" (click)="goToExams()" style="cursor: pointer;color: #005555;">learn more</a>
    </div>
    <!--/.service-txt-->
  </div>
  <!--/.service-single-->
</div>
<!--/.col-->
