body {
   		background: linear-gradient(90deg, #ded4d4 50%, #005555 50%) !important; 
  }
  .portfolio {
    padding: 6%;
    text-align: center;
  }
  .heading {
    background: #fff;
    padding: 1%;
    text-align: left;
    box-shadow: 0px 0px 4px 0px #545b62;
  }
  .heading img {
    width: 10%;
  }
  .bio-info {
    padding: 5%;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
  }
  .name {
    font-family: "Charmonman", cursive;
    font-weight: 600;
  }
  .bio-image {
    text-align: center;
  }
  .bio-image img {
    border-radius: 50%;
  }
  .bio-content {
    text-align: left;
  }
  .bio-content p {
    font-weight: 600;
    font-size: 30px;
  }
  .examname{
    
    font-weight: bold !important;
    letter-spacing: 2px !important;
    font-size: 40px !important;
    color: #005555;
    text-transform: uppercase;
  }
  .h3style{
    font-size: 22px;
    letter-spacing: 0.5px;
  }
  .bookbutton{
    background-color: #005555;
    color: white;
    border-color: #005555;
    padding: 11px 29px;
    font-size: 20px;
    border-radius: 9px;
    position: relative;
    bottom: -22px;
    left: 135px;
  }
  .createbutton{
    background-color: #005555;
      color: white;
      /* width: 78px;
      height: 32px; */
      width: 90px;
      height: 39px;
      font-size: 16px;
      border: 1px solid #005555;
      border-radius: 8px;
      position: relative;
      left: -29px;
    
  }
  .mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    /* width: 100%; */
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    width: 625px !important;
    overflow-x: none !important;
    text-align: center !important;
    height: 353px !important;
}

mat-form-field{
display: inline-block;
position: relative;
text-align: left;
width: 332px;
padding: 2px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  /* padding: 0.4375em 0; */
  padding: 9px !important;
}
.okbut{
  background-color: #005555;
  border-color: #005555;
  color: white;
  width: 85px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 9px;
}
