<app-navbar></app-navbar>
<div class="container portfolio">
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <!-- <img src="https://image.ibb.co/cbCMvA/logo.png" /> -->
        <i class="fa fa-circle" aria-hidden="true" style=" color: #005555;font-size: 18px;"></i>
        <i class="fa fa-circle" aria-hidden="true" style=" color: #069A8E;font-size: 18px; padding: 0px 5px;"></i>
        <i class="fa fa-circle" aria-hidden="true" style=" color: #A1E3D8;font-size: 18px;"></i>
      </div>
    </div>
  </div>
  <div class="bio-info">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="bio-image">
              <img src="../../assets/images/{{home.examById.imagepath}}" alt="image" width="350px" height="300px" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bio-content">
          <h1 class="examname">{{home.examById.name}} Exam</h1>
          <h3 style="text-transform: none;font-size: 20px;">{{home.examById.description}}</h3>
          <h3 style="text-transform: none;font-size: 20px;"><span style="font-weight:bold;"
              class="h3style">Duration:</span> {{home.examById.examduration}} minutes</h3>
          <h3 style="text-transform: none;font-size: 20px;"><span style="font-weight:bold;"
              class="h3style">Price:</span> ${{home.examById.examprice}}</h3>
          <h3 style="text-transform: none;font-size: 20px;"><span style="font-weight:bold;" class="h3style">Pass Mark:
            </span>{{home.examById.passmark}}%</h3>
          <h3 *ngIf="home.examavailabletime.length==0" style="font-weight:bold;color: red;font-size: 20px;"
            class="h3style"> Exam dosnt have any available time yet ! </h3>
          <h3 *ngIf="home.examavailabletime.length>0" style="font-weight:bold;" class="h3style"> Available Time: </h3>
          <ul>
            <li *ngFor="let obj of home.examavailabletime"
              style="text-transform: none;font-size: 20px;position: relative;left: 26px;list-style: none;">
              <span *ngIf="obj.examstartdate >= (date)">
                <i class="fa fa-circle" aria-hidden="true" style=" color: black;
                      font-size: 14px;"></i>
                {{obj.examstartdate| date: 'dd/MMM/yyyy hh:mm a' }}
              </span>
            </li>
          </ul>
          <button class="bookbutton" *ngIf="home.examavailabletime.length>0" (click)="goToBookingForm()">Book
            Now</button>
          <button class="bookbutton" *ngIf="home.examavailabletime.length==0" (click)="soryDialog()">Book Now</button>
        </div>


      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- ====================================Booking Form=========================== -->

<ng-template #CallCreateBooking>
  <mat-dialog-content class="mat-typography">

    <h2 mat-dialog-title style="color:#005555; text-align: center;font-size: 26px;">
      <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 30px;"></i> Lets Book
    </h2>
    <form class="mat-dialog-container">
      <mat-form-field [formGroup]="bookingForm">
        <mat-label>Card Number</mat-label>
        <input type="text" matInput formControlName="cardnumber">
        <mat-error *ngIf="bookingForm.controls['cardnumber'].hasError('required')">
          Card Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field [formGroup]="bookingForm">
        <mat-label>CVC Code</mat-label>
        <input type="number" matInput formControlName="cvc">
        <mat-error *ngIf="bookingForm.controls['cvc'].hasError('required')">
          CVC Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field [formGroup]="bookingForm">
        <mat-label>Card Expiry Date</mat-label>
        <input type="date" matInput formControlName="expirydate">
        <mat-error *ngIf="bookingForm.controls['expirydate'].hasError('required')">
          Card Expiry Date is <strong>required</strong>
        </mat-error>

      </mat-form-field>
      <br>
      <mat-form-field [formGroup]="bookingForm">
        <mat-label>Exam Date</mat-label>
        <!-- <input type="date" matInput formControlName="examdateuser"> -->
        <select matNativeControl formControlName="examdateuser">
          <option type="date" *ngFor="let x of home.examavailabletime" [ngValue]="x.examstartdate">
            {{x.examstartdate|date: 'dd/MMM/yyyy hh:mm a'}}
          </option>
        </select>
        <mat-error *ngIf="bookingForm.controls['examdateuser'].hasError('required')">
          Exam Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <div hidden>
        <mat-form-field [formGroup]="bookingForm">
          <input type="number" matInput formControlName="examid" [(ngModel)]="home.examById.examid">
        </mat-form-field>
      </div>
      <br>

      <button [disabled]="!bookingForm.valid" (click)="saveBooking()" class="createbutton">Booking</button>
      <button class="createbutton" (click)="closeDialoge()" style="left: 24px;">Cancel</button>

    </form>
  </mat-dialog-content>


</ng-template>
<!-- =====================================Sorry Dialog========================================= -->
<ng-template #sorry>
  <h2 mat-dialog-title style="color:#005555"> <i class="fa fa-info" aria-hidden="true" style="color:red"></i> Booking
  </h2>
  <form class="mat-dialog-container" style="width:452px !important;height: 176px !important;">
    <h2 style="text-transform:capitalize;">Sorry ! <br> This is Exam Not Available Now</h2>
    <button class="updatebutton" class="okbut" (click)="closeDialoge()">OK</button>

  </form>
</ng-template>
<!-- ===================================== END sorry Dialog===============================-->
