.mat-raised-button {
    margin-left: 7px;
  }
  
  .mat-header-cell {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-align: center;
  }
  
  .mat-table {
    text-align: center;
  }
  
  .tbl {
    position: absolute;
    top: 25%;
    left: 24%;
    width: 677px;
  }
  
  table {
    width: 170%;
  }
  
  @media(max-width:576px) {
    .tbl {
      position: absolute;
      top: 27%;
      left: 3%;
    }
  
    table {
      width: max-content;
    }
  }
  
  @media (min-width:577px) and (max-width:749px) {
    .tbl {
      position: absolute;
      top: 25%;
      left: 8%;
    }
  
    table {
      width: max-content;
    }
  }
  
  @media (min-width:750px) and (max-width:1035px) {
    .tbl {
      position: absolute;
      top: 25%;
      left: 31%;
      width: 300%;
    }
  
    .table {
      width: max-content;
    }
    .scrollit {
      overflow:scroll;
      height:100vh;
      width: 50vh;
  }
  }
  