
        <div class="col-md-3 col-sm-6">
            <div class="pricing-box">
                <div class="pricing-header" style="background:url('../../assets/images/{{imagepath}}') center no-repeat;background-size: cover;">
                    <!-- <h2>HTML</h2>
                    <h3 class="packeg_p"><span></span>$150.00</h3> -->

                </div><!--/.pricing-header-->
               <ul class="plan-lists">
                    <li>{{name}} Exam</li>
                    <li>Price: ${{examprice}}</li>
                   <!--   <li>available time2</li> -->
                    <!--<li>01 advisor team</li>
                     <li>complete statistics</li>
                    <li>E-Mail support</li> -->
                </ul>

                <div class="project-btn pricing-btn text-center">
                    <a  class="project-view" (click)="opendetails(examid)">
                    More Details
                    </a>
                </div><!--/.project-btn-->
            </div><!--/.pricing-box-->
        </div><!--/.col-->






