<app-navbar></app-navbar>

<!--contact-part start-->
<section *ngFor="let obj of home.contactusinfo" class="about-part"  style="background-image:url(../../assets/images/{{obj.imagepath}}); height: 350px;">
  <div class="container">
    <div class="about-part-details text-center">
      <h2 *ngFor="let obj of home.contactusinfo" class="titlestyle">{{obj.title}}</h2>
      <div class="about-part-content">
        <div class="breadcrumbs">
        </div>
      </div>
    </div>
  </div>
</section>


<!--contact start-->
<section class="contact">
  <div class="container">
    <div class="contact-details">
      <div class="section-header contact-head  text-center">
        <h2>Get In Touch</h2>
        <p *ngFor="let obj of home.contactusinfo" class="parstyle">
          {{obj.description1}}
        </p>
      </div>
      <!--/.section-header-->
      <div class="contact-content">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-5">
            <div class="single-contact-box">
              <div class="contact-right">
                <div class="contact-adress">
                  <div class="contact-office-address">
                    <h2>contact info</h2><br>
                    <div class="single-online-address" *ngFor="let obj of home.contactusinfo">
                      <i class="fa fa-map-marker"></i>
                      {{obj.map}}
                    </div>
                    <div class="contact-online-address">
                      <div class="single-online-address" *ngFor="let obj of home.contactusinfo">
                        <i class="fa fa-phone"></i>
                        {{obj.description2}}
                      </div>
                      <div class="single-online-address" *ngFor="let obj of home.contactusinfo">
                        <i class="fa fa-envelope-o"></i>
                        {{obj.description3}}
                      </div>
                    </div>
                  </div>
                  <div class="contact-office-address">
                    <h2>social partner</h2>
                    <div class="contact-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="single-contact-box">
              <div class="contact-form">
                <h2>Leave us a Message Here !</h2>
                <form [formGroup]="home.contactForm">

                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width mat-form-field-appearance-legacy  ">
                          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
                            <input type="text" matInput formControlName="fullname" class="form-control" id="fullname"
                              placeholder="Full Name" name="fullname">
                          </div>
                          <mat-error *ngIf="home.contactForm.controls['fullname'].hasError('required')">
                            Fullname is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
                          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
                            <input type="email" matInput formControlName="email" class="form-control" id="email"
                              placeholder="Email" name="email">
                          </div>
                          <mat-error *ngIf="home.contactForm.controls['email'].hasError('email')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="home.contactForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
                          <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
                            <textarea class="form-control" matInput formControlName="message" rows="5" id="comment"
                              placeholder="Message"></textarea>
                          </div>
                          <mat-error *ngIf="home.contactForm.controls['fullname'].hasError('required')">
                            Message is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="single-contact-btn pull-right">
                        <button class="contact-btn" type="submit" (click)="home.submit()"
                          [disabled]="!home.contactForm.valid">
                          send message</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d433870.8267820615!2d35.66744106019396!3d31.835453335154707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b5fb85d7981af%3A0x631c30c0f8dc65e8!2sAmman!5e0!3m2!1sen!2sjo!4v1668977437972!5m2!1sen!2sjo" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="iframclass"></iframe>
<!-- 
<iframe *ngFor="let obj of home.contactusinfo"class=" w-100 "  style="object-fit: cover;"
[src]="obj.map"
                  height="500"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
             </iframe> -->
<app-footer></app-footer>
