<app-sidebar></app-sidebar>
<!-- ========================================Get All Table Booking======================================= -->

<div class="tbl">
  <form>
    <div class="middleinput row" style="    display: flex;
    justify-content: center;
    margin-top: 7px;">

    <div class="divinput" style="padding-right: 18px;">
    <label for="site-search">Date From </label>
    <br>
    <input type="date"  matInput class="searchinput"  [value]="dateFrom" (change)="searchDateFrom($event)" >
   </div>
   <div class="divinput">
    <label for="site-search">Date To </label>
    <br>
    <input type="date"  matInput class="searchinput"   [value]="dateTo" (change)="searchDateTo($event)">
  </div>


<div class="example-button-row"></div>
<button mat-raised-button  class="searchbutton"  (click)="submit()">Search</button>

</div>
</form>
  <table mat-table [dataSource]="admin.AllBookingArray" class="mat-elevation-z8 responsive">
    <tbody>
      <ng-container matColumnDef="bookingid">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingid}} </td>
      </ng-container>

      <!-- |date: 'dd/MMM/yyyy hh:mm a' -->
      <ng-container matColumnDef="examdateuser">
        <th mat-header-cell *matHeaderCellDef> Exam Date </th>
        <td mat-cell *matCellDef="let element"> {{element.examdateuser|date: 'dd/MMM/yyyy hh:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="bookingdate">
        <th mat-header-cell *matHeaderCellDef> Booking Date </th>
        <td mat-cell *matCellDef="let element"> {{element.bookingdate|date: 'dd/MMM/yyyy hh:mm a'}} </td>
      </ng-container>

      <div hidden>
        <ng-container hidden matColumnDef="exampassword">
          <th mat-header-cell *matHeaderCellDef hidden> Exam Password </th>
          <td mat-cell *matCellDef="let element" hidden> {{element.exampassword}} </td>
        </ng-container>
      </div>

      <ng-container matColumnDef="examid">
        <th mat-header-cell *matHeaderCellDef> Exam Name </th>
        <td mat-cell *matCellDef="let element"> {{element.examname}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef> User No </th>
        <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
      </ng-container>
      <ng-container matColumnDef="statusid">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.statusname}} </td>
      </ng-container>



      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="openUpdateDialog(element)">Update</button>
          <button mat-raised-button color="warn" (click)="openDeleteDialog(element.bookingid)">Delete</button>
        </td>
      </ng-container>

    </tbody>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
<!-- </cdk-virtual-scroll-viewport> -->
</div>
<!-- ======================================== END Get All Table Booking======================================= -->

<!-- =====================================Update Dialog=============================== -->

<ng-template #callUpdateDailog>
  <h2 mat-dialog-title style="color:#005555"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update Booking
  </h2>
  <form class="mat-dialog-container">
    <br>
    <mat-form-field [formGroup]="updateForm">
      <mat-label>examdateuser</mat-label>
      <input type="datetime-local"  matInput formControlName="examdateuser" [(ngModel)]="pDataBookUpdata.examdateuser">
      <mat-error *ngIf="updateForm.controls['examdateuser'].hasError('required')">
        examdateuser is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br>
    <div>
    <mat-form-field [formGroup]="updateForm">
      <mat-label>bookingdate</mat-label>
      <input type="datetime-local" matInput formControlName="bookingdate" [(ngModel)]="pDataBookUpdata.bookingdate" readonly>
      <mat-error *ngIf="updateForm.controls['bookingdate'].hasError('required')">
        bookingdate is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
    <div hidden>
      <mat-form-field [formGroup]="updateForm">
        <mat-label>exampassword</mat-label>
        <input type="text" matInput formControlName="exampassword" [(ngModel)]="pDataBookUpdata.exampassword">
        <mat-error *ngIf="updateForm.controls['exampassword'].hasError('required')">
          exampassword is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <mat-form-field [formGroup]="updateForm">
      <mat-label>Exam Name</mat-label>
      <select matNativeControl matInput formControlName="examid"
      [(ngModel)]="pDataBookUpdata.examid" >
        <option selected hidden>{{updateForm.controls['examid'].value}}</option>
        <!-- <option type="number" [ngValue]="pDataBookUpdata.examid" selected hidden>{{pDataBookUpdata.examid}}</option> -->
        <option type="number" *ngFor="let x of admin.exams" [ngValue]="x.examid" >
          {{x.name}}</option>
      </select>
      <mat-error *ngIf="updateForm.controls['examid'].hasError('required')">
        Exam Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>

      <mat-form-field [formGroup]="updateForm">
      <mat-label>userid</mat-label>
      <input type="number" matInput formControlName="userid" [(ngModel)]="pDataBookUpdata.userid" readonly>
      <mat-error *ngIf="updateForm.controls['userid'].hasError('required')">
        userid is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <br>
    <!-- Select list code to status -->
    <mat-form-field [formGroup]="updateForm">
      <mat-label>Status</mat-label>
      <select  matNativeControl formControlName="statusid"
      [(ngModel)]="pDataBookUpdata.statusid">
        <option selected hidden>{{updateForm.controls['statusid'].value}}</option>
        <option type="number" *ngFor="let x of statusIds" [ngValue]="x.statusid" >
          {{x.statusname}}</option>
      </select>
      <mat-error *ngIf="updateForm.controls['statusid'].hasError('required')">
          Status is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <br>
    <!-- pDataBookUpdata.statusid -->
    <button (click)="saveData()" class="updatebutton">Update</button>
    <button (click)="closeDialog()" class="updatebutton" style="left: 13px;">Cancel</button>

  </form>
</ng-template>
<!-- =====================================END Update Dialog=============================== -->

<!-- =====================================Delete Dialog===============================-->

<ng-template #callDeleteDialog>
  <h2 mat-dialog-title style="color:#005555"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Booking</h2>
  <form class="mat-dialog-container" style="width:452px !important;">
    <h2 style="text-transform:capitalize;">Are you sure you want to delete this item ?</h2>
    <button mat-dialog-close="yes" class="updatebutton" style="background-color:red; border-color:red;">Yes</button>
    <button mat-dialog-close="no" class="updatebutton" style="left: 13px;">No</button>
  </form>
</ng-template>
<!-- ===================================== END Delete Dialog===============================-->
