
<app-sidebar></app-sidebar>
<div class="tbl">
  <!-- <button mat-raised-button [ngStyle]="{'color':'#fff','background-color':'#188048','margin-bottom.px': 2}">Add
    Course</button> -->
  <table mat-table [dataSource]="home.testimonialWithNames" class="mat-elevation-z8 responsive">
    <tbody>
      <ng-container matColumnDef="testimonialid">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.testimonialid}} </td>
      </ng-container>

     

      <ng-container matColumnDef="feedback">
        <th mat-header-cell *matHeaderCellDef> Feedback </th>
        <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
      </ng-container>
      
      <ng-container matColumnDef="statusid">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
      </ng-container>

      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef> User Name</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      
      <ng-container matColumnDef="homeid" hidden >
        <th mat-header-cell *matHeaderCellDef hidden> Home No</th>
        <td mat-cell *matCellDef="let element" hidden> {{element.homeid}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button style="background-color: #005555; color: white;" (click)="AcceptTest(element.testimonialid)">Accept</button>
          <button mat-raised-button color="primary" style="background-color: #fba107; color: white;" (click)="RejectTest(element.testimonialid)">Reject</button>
          <button mat-raised-button   style="background-color: red; color: white;" (click)="DeleteTest(element.testimonialid)">Delete</button>
        </td>
      </ng-container>
    </tbody>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

