<app-navbar></app-navbar>


<!-- header-slider-area start -->
<section class="header-slider-area">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="single-slide-item slide-1"
          style="background-image:url(../../assets/images/{{home.homeinfo.imagepath}});">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="single-slide-item-content">
                  <h2> {{home.homeinfo.title}} <br> {{home.homeinfo.description1}}</h2>
                  <p>
                    {{home.homeinfo.description2}}
                  </p>

                  <button type="button" class="slide-btn
                  ">
                    <a href="#courses"> explore more</a>

                  </button>

                </div><!-- /.single-slide-item-content-->
              </div><!-- /.col-->
            </div><!-- /.row-->
          </div><!-- /.container-->
        </div><!-- /.single-slide-item-->
      </div><!-- /.item .active-->
      <!-- {{home.homeinfo.description3}} -->
      <div class="item">
        <div class="single-slide-item slide-2" style="background-image:url(./assets/images/banner/slider33.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="single-slide-item-content">
                  <h2>{{home.homeinfo.title}} <br>{{home.homeinfo.description1}}</h2>
                  <p>
                    {{home.homeinfo.description2}}
                  </p>

                  <button type="button" class="slide-btn
											">
                    <a href="#courses"> explore more</a>

                  </button>
                </div><!-- /.single-slide-item-content-->

              </div><!-- /.col-->
            </div><!-- /.row-->
          </div><!-- /.container-->
        </div><!-- /.single-slide-item-->
      </div><!-- /.item .active-->
    </div><!-- /.carousel-inner-->

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="lnr lnr-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="lnr lnr-chevron-right"></span>
    </a>

  </div><!-- /.carousel-->

</section><!-- /.header-slider-area-->
<!-- header-slider-area end -->

<!--about-us start -->
<section class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-6" style="top: -82px;">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2 style="font-size: 25px;font-family:'Poppins';">{{home.aboutinfo.title}}</h2>
              <p>
                {{home.aboutinfo.description1}}
              </p>
              <div class="project-btn">
                <a routerLink="/about" class="project-view">learn more
                </a>
              </div>
              <!--/.project-btn-->
            </div>
            <!--/.about-us-txt-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
        <div class="col-sm-6">
          <div class="single-about-us">
            <div class="about-us-img">
              <img src="../../assets/images/{{home.aboutinfo.imagepath}}" alt="about images" width="570px"
                height="394px">
            </div>
            <!--/.about-us-img-->
          </div>
          <!--/.single-about-us-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.about-us-content-->
  </div>
  <!--/.container-->

</section>
<!--/.about-us-->
<!--about-us end -->

<!--statistics start-->
<section class="statistics">
  <div class="container">
    <div class="statistics-counter ">
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="./assets/images/counter/counter1.png" alt="counter-icon" />
          </div>
          <!--/.statistics-img-->
          <div class="statistics-content">
            <div class="counter">{{home.statistics.numOfExams}}</div>
            <h3>#website exams</h3>
          </div>
          <!--/.statistics-content-->
        </div>
        <!--/.single-ststistics-box-->
      </div>
      <!--/.col-->
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="./assets/images/counter/counter2.png" alt="counter-icon" />
          </div>
          <!--/.statistics-img-->
          <div class="statistics-content">
            <div class="counter">{{home.statistics.numOfBooking}}</div>
            <!-- <h3>#website courses</h3> -->
            <h3>#Exams Booked</h3>
          </div>
          <!--/.statistics-content-->
        </div>
        <!--/.single-ststistics-box-->
      </div>
      <!--/.col-->
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="./assets/images/counter/usres.png" alt="counter-icon" class="usersimg" />
          </div>
          <!--/.statistics-img-->

          <div class="statistics-content">
            <div class="counter" style="left: -42px;position: relative;">{{home.statistics.numOfUser}}</div>
            <h3 style="left:-45px; position: relative;">#website users</h3>
          </div>

          <!--/.statistics-content-->
        </div>
        <!--/.single-ststistics-box-->
      </div>
      <!--/.col-->
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="./assets/images/counter/counter4.png" alt="counter-icon" />
          </div>
          <!--/.statistics-img-->
          <div class="statistics-content">
            <div class="counter">{{home.statistics.numOfUserBooked}}</div>
            <h3>#user Booked exams</h3>
          </div>
          <!--/.statistics-content-->
        </div>
        <!--/.single-ststistics-box-->
      </div>
      <!--/.col-->
    </div>
    <!--/.statistics-counter-->
  </div>
  <!--/.container-->

</section>
<!--/.statistics-->
<!--statistics end-->

<!--section courses -->
<!--nwes start -->
<section class="news" id="courses">
  <div class="container">
    <div class="news-details">

      <!-- /.section-header -->

      <!-- section-cardes -->
      <div class="section-header text-center">
        <h2>our Courses</h2>
        <p style="text-align:center;" class="parstyle">
          Our Courses provides services to organize online exams that are specialized in programming where these online
          exams should be prepaid.
        </p>
      </div>

      <!--/.section-header-->
      <div class="news-card news-card-pb-25" style="margin-top: 17px;">
        <div class="row">
          <app-courses></app-courses>
        </div>

        <!--/.row-->
        <div class="project-btn text-center">
          <a href="blog.html" class="project-view" routerLink="/exams" style="text-align:center">read more</a>
        </div>
        <!--/.project-btn-->
      </div>
      <!--/.news-card-->
    </div>
    <!--/news-details-->
  </div>

  <!--/.container-->

</section>
<!--/section courses -->


<!-- testemonial Start -->

<section class="testemonial">
  <div class="container">
    <div class="section-header text-center">
      <h2>
        <span>
          what our client say about us
        </span>
      </h2>
    </div>
    <div>
      <div>
        <ol style="list-style:none;">
          <li>
            <div id="testemonial-carousel">
              <div class="home1-testm item">
                <div class="home1-testm-single text-center">
                  <div class="home1-testm-img">
                    <img src="../../assets/images/{{home.acceptedTestimonialWithNames[slideNum].userimage}}" alt="img"
                      class="testimg" />
                  </div>
                  <!--/.home1-testm-img-->
                  <div class="home1-testm-txt">
                    <span class="icon section-icon">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </span>
                    <p>
                      {{home.acceptedTestimonialWithNames[slideNum].feedback}}
                    </p>
                    <h3>
                      <a href="#">
                        {{home.acceptedTestimonialWithNames[slideNum].username}}
                      </a>
                    </h3>
                  </div>
                  <!--/.home1-testm-txt-->
                </div>
              </div>
            </div>

          </li>
        </ol>
      </div>
    </div>

    <button class="btn submitBtn previous leftbut" *ngIf="slideNum != 0" (click)="PreviousQuestion()"><i
        class="fa fa-chevron-left" aria-hidden="true"></i></button>
    <button class="btn submitBtn previous leftbut" *ngIf="slideNum == 0" (click)="startSlideNum()"><i
        class="fa fa-chevron-left" aria-hidden="true"></i></button>

    <button class="btn submitBtn next rightbut" *ngIf="slideNum!= (home.acceptedTestimonialWithNames.length-1) "
      (click)="NextQuestion()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>

    <button class="btn submitBtn next rightbut" *ngIf="slideNum== (home.acceptedTestimonialWithNames.length-1) "
      (click)="ResetSlideNum()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  </div>
  <!---------------- New - Contact us ---------------->
  <section class="contact">
    <div class="container">
      <div class="contact-details">
        <div class="section-header contact-head  text-center">
          <h2>Get In Touch</h2>
          <p *ngFor="let obj of home.contactusinfo" style="text-align:center;" class="parstyle">
            {{obj.description1}}
          </p>
        </div>
        <!--/.section-header-->
        <div class="contact-content">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
              <div class="single-contact-box">
                <div class="contact-right">
                  <div class="contact-adress">
                    <div class="contact-office-address">
                      <h2>contact info</h2><br>
                      <div class="single-online-address" *ngFor="let obj of home.contactusinfo">
                        <i class="fa fa-map-marker"></i>
                        {{obj.map}}
                      </div>
                      <div class="contact-online-address">
                        <div class="single-online-address" *ngFor="let obj of home.contactusinfo">
                          <i class="fa fa-phone"></i>
                          {{obj.description2}}
                        </div>
                        <div class="single-online-address" *ngFor="let obj of home.contactusinfo">
                          <i class="fa fa-envelope-o"></i>
                          {{obj.description3}}
                        </div>
                      </div>
                    </div>
                    <div class="contact-office-address">
                      <h2>social partner</h2>
                      <div class="contact-icon">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-5">
              <div class="single-contact-box">
                <div class="contact-form">
                  <h2>Leave us a Message Here !</h2>
                  <form [formGroup]="home.contactForm">

                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width mat-form-field-appearance-legacy  ">
                            <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
                              <input type="text" matInput formControlName="fullname" class="form-control" id="fullname"
                                placeholder="Full Name" name="fullname">
                            </div>
                            <mat-error *ngIf="home.contactForm.controls['fullname'].hasError('required')">
                              Fullname is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
                            <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
                              <input type="email" matInput formControlName="email" class="form-control" id="email"
                                placeholder="Email" name="email">
                            </div>
                            <mat-error *ngIf="home.contactForm.controls['email'].hasError('email')">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="home.contactForm.controls['email'].hasError('required')">
                              Email is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <mat-form-field class="example-full-width mat-form-field-appearance-legacy">
                            <div class="example-full-width mat-form-field-wrapper mat-form-field-infix ">
                              <textarea class="form-control" matInput formControlName="message" rows="5" id="comment"
                                placeholder="Message"></textarea>
                            </div>
                            <mat-error *ngIf="home.contactForm.controls['fullname'].hasError('required')">
                              Message is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="single-contact-btn pull-right">
                          <button class="contact-btn" type="submit" (click)="home.submit()"
                            [disabled]="!home.contactForm.valid">
                            send message</button>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact end -->
  <app-footer></app-footer>
