.single-slide-item.slide-1:before,
.single-slide-item.slide-2:before {
  background: rgb(11 11 11 / 54%);
}

.single-slide-item button.slide-btn {
  color: #005555;
}

.single-we-do-box {
  box-shadow: 0 0 5px rgb(5 93 91 / 75%);
}

.project-view {
  background: #005555;
  border: 1px solid #005555;
}

.about-us , .testemonial {
  background: #6a979714;
}

.about-us h2 {
  color: #0d0e10;
  font-family: 'Playfair Display', serif;
}

.statistics:before {
  background: rgb(0 0 0 / 79%);
}


.about-part:before {
  background: rgb(11 11 11 / 54%);
}

.contact {
  background: none;
}

.contact:before {
  background: rgb(255 255 255 / 85%);
}

.section-header.contact-head h2,
.section-header.contact-head p,
.contact-office-address h3,
.contact-office-address p,
.contact-online-address,
.contact-icon ul li>a,
.contact-form h3 {
  color: black;
}

.contact-form .single-contact-btn button {
  background: #005555;
  border: 1px solid #005555;
  margin-bottom: 50px;
}

.contact-content {
  background: #4f7b7b9c;
}

.home1-testm-txt h3 a  {
  color : #005555;
}

.testemonial .owl-theme .owl-dots .owl-dot.active span{
  background: #005555 !important;
  border: 2px solid #005555 !important;
}
.leftcur{
  left: 800px;
    top: -119px;
}
.courseimg{
  position:relative !important;
  left:52px !important;
}

/* ------------------------- Contact us New Styles ---------------- */

.contact-form .form-control{
  padding: 20px 20px !important;
  margin: 3px;
}

.mat-form-field-infix {
  width: 100% !important;
  position: static !important;
}

.mat-form-field{
  display: block !important;
}

.mat-input-element{
  box-sizing: border-box !important;
}

.single-online-address{
  font-size: 16px;
}

.contact-office-address{
  margin-bottom: 30px !important;
}
.parstyle {
  position: relative !important;
  left: 54px;
}
@media (max-width: 1180px) {
  .parstyle {
    position: relative !important;
    left: 0px;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media (max-width: 992px) {
  .parstyle {
    position: relative !important;
    left: 12px;
  }
}
@media (max-width: 720px) {
  .parstyle {
    position: relative !important;
    left: 2px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media(max-width: 600px) {
  .parstyle {
    position: relative !important;
    left: -1px;
  }}

  .usersimg{
    width: 100px;
    height: 99px;
    position: relative;
    top: -19px;
    left: -28px;
}
  
.testimg{
  width: 134px;
  height: 134px;
  border-radius: 68px;
}
.leftbut{
  position: absolute !important;
  top: 293px !important;
  left: 60px !important;
  border-radius: 66px !important;
  width: 43px !important;
  height: 43px !important;
  color: white !important;
  background-color: #005555c2 !important;

}

    .rightbut{
      position: absolute !important;
      right: 46px !important;
      top: 293px !important;
      border-radius: 66px !important;
      width: 43px !important;
      height: 43px !important;
      color: white !important;
      background-color: #005555c2 !important;
    
    }