<!--hm-footer start-->
<section class="hm-footer">
    <div class="container">
      <div class="hm-footer-details">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title ">
                <div class="logo">
                  <a href="index.html">
                    <span class="logoname" >HNSs</span>
                  </a>
                </div><!-- /.logo-->
              </div>
              <!--/.hm-foot-title-->
              <div class="hm-foot-para">
                <p>
                Programming Online Exams
                </p>
              </div>
              <!--/.hm-foot-para-->
              <div class="hm-foot-icon hoverlink">
                <ul>
                  <li ><a href="https://web.facebook.com/" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <!--/li-->
                  <li ><a href="https://en.wikipedia.org/wiki/Google%2B" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <!--/li-->
                  <li ><a href="https://www.linkedin.com//" ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <!--/li-->
                  <li ><a href="https://www.twitter.com/" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <!--/li-->
                </ul>
                <!--/ul-->
              </div>
              <!--/.hm-foot-icon-->
            </div>
            <!--/.hm-footer-widget-->
          </div>
          <!--/.col-->
          <div class=" col-md-2 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title">
                <h4>Useful Links</h4>
              </div>
              <!--/.hm-foot-title-->
              <div class="footer-menu ">
                <ul class="">
                  <li><a href="">Home</a></li>
                  <li><a href="about">About</a></li>
                  <!-- <li><a href="services.html">Service</a></li>
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="blog.html">Blog</a></li> -->
                  <li><a href="contact">Contact us</a></li>
                </ul>
              </div><!-- /.footer-menu-->
            </div>
            <!--/.hm-footer-widget-->
          </div>
          <!--/.col-->
          <div class=" col-md-3 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title">
                <h4>Contact Us</h4>
              </div>
              <!--/.hm-foot-title-->
              <div class="hm-para-news">
                <i class="fa fa-phone" style="color:white"> </i>
                <a>
                   +962786543293
                </a>
               
              </div>
              <!--/.hm-para-news-->
              <!-- <div class="footer-line">
                <div class="border-bottom"></div>
              </div> -->
              <div class="hm-para-news emaillink">
                <i class="fa fa-envelope-o" style="color:white"> </i> <span>  </span>
                <a href="mailto:exam.booking@outlook.com" >
                 exam.booking@outlook.com
                </a>
               
              </div>
              <!--/.hm-para-news-->
            </div>
            <!--/.hm-footer-widget-->
          </div>
          <!--/.col-->
          <div class=" col-md-3 col-sm-6  col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title">
                <h4> Address</h4>
              </div>
              <!--/.hm-foot-title-->
              <div class="hm-foot-para">
                <p class="para-news">
                  Amman-Jordan
                </p>
              </div>
              <!--/.hm-foot-para-->
              <!-- <div class="hm-foot-email">
                <div class="foot-email-box">
                  <input type="text" class="form-control" placeholder="Email Address">
                </div> -->
                <!--/.foot-email-box-->
                <!-- <div class="foot-email-subscribe">
                  <button type="button">go</button>
                </div> -->
                <!--/.foot-email-icon -->
              <!-- </div> -->
              <!--/.hm-foot-email-->
            </div>
            <!--/.hm-footer-widget-->
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.hm-footer-details-->
    </div>
    <!--/.container-->
  
  </section>
  <!--/.hm-footer-details-->
  <!--hm-footer end-->
  
  <!-- footer-copyright start -->
  <footer class="footer-copyright">
    <div class="container">
      <div class="row">
        <!-- <div class="col-sm-7"> -->
          <div> 
          <div class="foot-copyright pull-left">
            <p  style="text-align: center;">
              &copy; All Rights Reserved.{{date}}
              <a href="" style="color: #005555;
              font-weight: bold;
              font-size: 27px;
              position: relative;
              top: 4px;">HNSs</a>
            </p>
          </div>
          <!--/.foot-copyright-->
        </div>
        <!--/.col-->
        <!-- <div class="col-sm-5">
          <div class="foot-menu pull-right
          ">
            <ul>
              <li><a href="#">legal</a></li>
              <li><a href="#">sitemap</a></li>
              <li><a href="#">privacy policy</a></li>
            </ul>
          </div>/.foot-menu -->
        <!-- </div> -->
        <!--/.col-->
      </div>
      <!--/.row-->
      <div id="scroll-Top">
        <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
          data-original-title="Back to Top" aria-hidden="true"></i>
      </div>
      <!--/.scroll-Top-->
    </div><!-- /.container-->
  
  </footer><!-- /.footer-copyright-->
  <!-- footer-copyright end -->
  